@page
@model Ganaderia.App.Presentacion.Pages.loginMigranteModel
@{
Layout = "~/Pages/Shared/_layoutLogin.cshtml";
ViewData["Title"] = "Migrante";
}

<form method="post">
    
    <p>Usuario <input type="text" name="usuario"> </p>
    <p>Contrasena <input type="password" name="clave"> </p>
    <p><input type="submit" value="Ingresar" asp-page-handler="Login"></p>
</form>