@page
@model Ganaderia.App.Presentacion.Pages.MigranteInicioModel
@{
Layout = "~/Pages/Shared/_LayoutMigrante.cshtml";
ViewData["Title"] = "Migrante";
}

<a href="MigranteUpdate">Ver o actualizar mi información</a><br>
<a href="MigranteBuscar">Buscar migrante</a>

