@page
@model Ganaderia.App.Presentacion.Pages.MigranteInicioModel
@{
Layout = "~/Pages/Shared/_LayoutMigrante.cshtml";
ViewData["Title"] = "Migrante";
}

<a href="">Ver o actualizar mi inforamción</a><br>
<a href="">Buscar migrante</a>

