@page
@model Ganaderia.App.Presentacion.Pages.loginEntidadModel
@{
Layout = "~/Pages/Shared/_layoutLogin.cshtml";
ViewData["Title"] = "Entidad";
    
}
<script src="script.js"></script>
    <form>
      <p>ingrese nombre <input type="text" name="nombre"> </p>
      <p>ingrese clave <input type="password" name="clave"> </p>
      <p><input type="submit" value="guardar"></p>
    </form>